@using Lex_Diary_Admin_Panel.Models
@{
    ViewBag.Title = "Add";

    var colorList = (List<Color>)Session["ColorList"];
    var colorList1 = ViewBag.ColorList;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.css" integrity="sha512-2sFkW9HTkUJVIu0jTS8AUEsTk8gFAFrPmtAxyzIhbeXHRH8NXhBFnLAMLQpuhHF/dL5+sYoNHWYYX2Hlk+BVHQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css" integrity="sha512-3lMc9rpZbcRPiC3OeFM3Xey51i0p5ty5V8jkdlNGZLttjj6tleviLJfHli6p8EpXZkCklkqNt8ddSroB3bvhrQ==" crossorigin="anonymous" />
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h2 style="text-align:center">Add Product</h2>
@using (Html.BeginForm("Add", "Product", FormMethod.Post,new { @enctype = "multipart/form-data" }))
{
    <fieldset>
        <div class="form-group">
            <label class="control-label col-sm-2" for="productName">Product Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productName" placeholder="Enter product name" name="productName" required>
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-sm-2" for="category">Category</label>
            <div class="col-sm-10">
                <select class="form-control" id="category">
                    <option>car</option>
                    <option>bike</option>
                    <option>headphone</option>
                    <option>t-shirt</option>
                </select>

            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-sm-4" for="colors">Choose Available Color</label>
            <div class="col-sm-10">
               
                <select id="colors" name="colors" class="multiselect-ui form-control" multiple="multiple">
                    @foreach (var color in colorList)
                    {
                        <option value="@color.color:@color.colorCode">@color.color</option>
                    }
                    
                   
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="sizes">Choose Available Sizes (inches)</label>
            <div class="col-sm-10">

                <select id="sizes" name="sizes" class="multiselect-ui form-control" multiple="multiple">
                    @{ 
                        var fraction = 0.5;
                    }
                    @for (double i=1; i<=50;i=i+0.5)
                    {
                        <option value="@i">@i</option>
                        
                    }


                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="productDescription">Description</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="productDescription" placeholder="Enter description" name="productDescription" required></textarea>
           </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="productPrice">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productPrice" placeholder="Enter price" name="productPrice" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="discountPercentage">Discount Percentage</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="discountPercentage" placeholder="Enter discount percentage" name="discountPercentage" required maxlength="3">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="image">Load Image</label>
            <div class="col-sm-10 pt-2">

                <input type="file"  onchange="encodeImgtoBase64(this, '1')">
                <input  type="hidden" id="file1" name="file1"/>
                <input type="hidden" id="thumbnailFile1" name="thumbnailFile1" />
            </div>
            <div class="col-sm-10 pt-4">
                <input type="file"  onchange="encodeImgtoBase64(this, '2')">
                <input type="hidden" id="file2" name="file2" />
                <input type="hidden" id="thumbnailFile2" name="thumbnailFile2" />
            </div>
            <div class="col-sm-10 pt-4">
                <input type="file" onchange="encodeImgtoBase64(this, '3')">
                <input type="hidden" id="file3" name="file3" />
                <input type="hidden" id="thumbnailFile3" name="thumbnailFile3" />
            </div>
            <div class="col-sm-10 pt-4">
                <input type="file" onchange="encodeImgtoBase64(this, '4')">
                <input type="hidden" id="file4" name="file4" />
                <input type="hidden" id="thumbnailFile4" name="thumbnailFile4" />
            </div>
            <div class="col-sm-10 pt-4">
                <input type="file" onchange="encodeImgtoBase64(this, '5')">
                <input type="hidden" id="file5" name="file5" />
                <input type="hidden" id="thumbnailFile5" name="thumbnailFile5" />
            </div>
        </div>
       @*<div>
           <p>Thumbnail image</p>
           <img id="thumbnail" src=""/>
           <input type="hidden" id="thumbnailImage" name="thumbnailImage" />

       </div>*@
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>

}
    </div>
    <div class="col-md-2">

    </div>
</div>
@section Scripts{

<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#discountPercentage").keydown(function(e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode === 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });

   function encodeImgtoBase64(element, fileNo) {

      var file = element.files[0];

      var reader = new FileReader();

      reader.onloadend = function() {

          var text = reader.result;
          var imageFile = text.replace(/^data:image\/[a-z]+;base64,/, "");
          $('#file' + fileNo).val(imageFile);
        //  $("#convertImg").attr("src", reader.result);
        //$("#convertImg").text(reader.result);

          //$("#base64Img").attr("src", reader.result);

          var sourceImage = text,
		  thumbnail = document.getElementById("thumbnail");

          thumbnailify(sourceImage, 300, function(base64Thumbnail) {
              //thumbnail.src = base64Thumbnail;
              //$("#thumbnail").attr("src", base64Thumbnail);
              var thumbnailImage = base64Thumbnail.replace(/^data:image\/[a-z]+;base64,/, "");
              $('#thumbnailFile' + fileNo).val(thumbnailImage);
          });
          }
          if (file) {
              reader.readAsDataURL(file);
          }
     

    }
   function thumbnailify(base64Image, targetSize, callback) {
       var img = new Image();

       img.onload = function () {
           var width = img.width,
               height = img.height,
               canvas = document.createElement('canvas'),
               ctx = canvas.getContext("2d");

           canvas.width = canvas.height = targetSize;

           ctx.drawImage(
             img,
             width > height ? (width - height) / 2 : 0,
             height > width ? (height - width) / 2 : 0,
             width > height ? height : width,
             width > height ? height : width,
             0, 0,
             targetSize, targetSize
           );

           callback(canvas.toDataURL());
       };

       img.src = base64Image;
   };
</script>
    
    }
